:root
	--default-font: "Montserat", Arial, sans-serif

	--base-width: 1722px

	--body-bg-color: #fff
	--body-text-color: #383838

	--base-font-size: 12px

	--main-color: #5980F6

	--second-color: #1F2963
	--thrid-color: #6FCF97
	
	--border-color: #D5DBE4 

	--default-shadow: 0px 8px 34px rgba(162, 210, 255, 0.08)

	--inline-padding: 40px

	--input-hor-spacing: 55px
	--input-vert-spacing: 24px