.parser-settings

	&__tabs
		display: flex
		flex-wrap: wrap

		.default-btn

			&:not(:last-child)
				margin-right: 25px

	&__config
		margin: 21px 0 0

.p-config
	display: flex
	align-items: center

	&__btns
		margin-right: 78px

		.white-btn

			&:not(:last-child)
				margin-right: 19px

.config-checkboxes
	display: flex
	align-items: center
	flex-wrap: wrap

	&__item

		&:not(:last-child)
			margin-right: 40px