.parser-settings

	&__tabs
		display: flex
		flex-wrap: wrap

		.default-btn

			&:not(:last-child)
				margin-right: 25px

	&__config
		margin: 21px 0 0

.p-config

	&__btns

		.white-btn

			&:not(:last-child)
				margin-right: 19px