.rules-list
	padding: 50px 0

	&__item

		&:not(:first-child)
			margin: 105px 0 0

		&-title
			margin: 0 0 18px

		&-content
			margin: 35px 0 0

.rules-title
	font-weight: 600
	font-size: em(26)

.rules-subtitle
	color: #8F97A2




.rule
	
	&__inputs
		margin: 27px 0 0

		--input-hor-spacing: em(45)
		--input-vert-spacing: em(25)

.rules-btns
	margin-top: auto

	.default-btn, .green-btn
		min-width: 168px

		&:not(:last-child)
			margin-right: 5px